{% extends "html/wrapper.html" %}


{% block content %}
        
    <div class="container">
            <div class="row">
                <a class="btn" style="background-color: aqua;" href="/editproduct">Add</a>
            </div>
            <div class="row">
            {% for product in products %}
                <div class="admin-page-presentation">
                    <h1>{{product.name}}</h1>
                    <p>{{product.description}}</p>
                    <p>Price : {{product.price}}</p>
                    <img src=/images/{{product.src}} alt={{product.alt}}/>
                    <a class="btn" style="background-color: red;" href="/delete?table=products&id={{product.productid}}">Delete</a>
                    <a class="btn" style="background-color: green;" href="/editproduct?id={{product.productid}}">Update</a>
                </div>
            {% endfor %}
            </div>
            <div class="row">
            <ul class="pagination alg-right-pad">
                {% for id in page-count %}
                    <li><a href=/admin/products?page={{id}}>{{id}}</a></li>
                {% endfor %}
            </ul>
            </div>
    </div>
{% endblock %}