{% extends "html/wrapper.html" %}


{% block content %}
<div class="container"  style="text-align: center;">
    <form method="POST" action="/editproduct"  enctype="multipart/form-data">
        <h3>First name:</h3>
        <input class="my-input" type="text" name="firstname" placeholder="First name" value={{user.firstname}}></input>
        <h3>Last name:</h3>
        <input class="my-input" type="text" name="lastname" placeholder="Last name" value={{user.lastname}}></input>
        <h3>Password:</h3>
        <input class="my-input" type="password" name="password"/>
        <h3>Mail:</h3>
        <input class="my-input" type="text" name="mail" placeholder="Mail" value={{user.mail}}></input>
        <br/>
        <input class="my-input" type="submit" value="Save">
    </form>
</div>
{% endblock %}